ul.nav li{ 
                display: inline-block;
                padding-right: 10px;
                background-color: red;
                font-color: white ;
            }
#about_blue{
	background-color:#6495ed;
	border-style:solid;
	border-width: 3px;
	
	
}

#about_yellow{
	background-color: #FFEBCD;
	border-style: solid;
	border-width: 3px;
	border-color: black;
}

li.important {
	font-size: 16px;
	font-weight: bold;
}


